//FONTS
$baseFont: "Roboto", sans-serif;
$headFont: "Montserrat", sans-serif;
//COLORS
$orangeOne: #eb6825;
$blackOne: #212529;
$whiteOne: #ffffff;
$foot: #282c35;
$greyOne: #ebedf3;
//TRANSITION
$three: all 0.3s ease-in-out;
$five: all 0.5s ease-in-out;

$imgBg: url("../../public/images/bg1.jpg");
